@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #629abe;
    --secondary-color: #0a41893d;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-right: auto;
    width: 200px;
    transition: width 200ms;
}

.search::placeholder {
    color: #dcdde6;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

.search:hover {
    width: 400px;
}

.h1 {
    display: inline-block;
    color: aliceblue;
    font-size: x-large;
}

.form {
    margin: 1rem;
    float: right;
}

.navbar {
    padding: 1rem;
    display: flex;
    /* justify-content: flex-start; */
    background-color: #646bcc;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contentCard {
    font-size: unset;
    min-width: 10%;
    max-width: 15%;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    font-size: small;
}

.contentCard img {
    width: 100%;
}

.contentCard .movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.contentCard .movie-info h3 {
    margin-top: 0;
}

.contentCard .movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.contentCard .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    color: inherit;

}

span.green {
    color: lightgreen;
}

span.orange {
    color: orange;
}

span.red {
    color: red;
}

#sidebar {
    float: right;
    max-width: 25%;
    padding: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: -238px;
}

.sidebar .sidebar-close-icon {
    position: absolute;
    /* top: 20px; */
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 0.7rem;
    border-radius: 30%;
    z-index: 10;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.sidebar .sidebar-close-icon:hover {
    cursor: pointer;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.sidebar img {
    width: 100%;
}

.sidebar .sidebar-tagline {
    font-style: oblique;
    background-color: rgba(255, 255, 255, 0.123);
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sidebar .sidebar-info {
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.sidebar .sidebar-movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.sidebar .sidebar-movie-info h3 {
    margin-top: 0;
}

.sidebar .sidebar-movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar .sidebar-movie-info a {
    color: white;
    text-decoration: none;
}

.sidebar .sidebar-movie-info a:hover {
    color: rgb(207, 207, 207);
}

.sidebar h2,
h3,
h4,
h5 {
    margin: 0.2rem;
}

#iframeSpotify {
    height: 80px;
    width: 250px;
    margin: auto;
    display: block;
    transition: width 600ms 0.6s, height 600ms;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(77 133 178) 10px -10px 0px -3px, rgb(31 193 27) 10px -10px, rgb(77 133 178) 20px -20px 0px -3px, rgb(255 217 19) 20px -20px, rgb(77 133 178) 30px -30px 0px -3px, rgb(255 156 85) 30px -30px;
    transition-timing-function: ease;
}

#iframeSpotify:hover {
    height: 250px;
    width: 1000px;
}

/* LOADER STARTS*/

.lds-facebook {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 25%;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgba(130, 223, 118, 0.692);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* LOADER ENDS */
@media screen and (min-width: 1000px) {
    .contentCard {
        /* min-width: 200px; */
        max-width: 10%;
        font-size: x-small;

    }

}

@media screen and (min-width: 1800px) {
    .contentCard {
        min-width: 10%;
        max-width: 15%;
    }
}


@media screen and (max-width: 600px) {
    .contentCard {
        min-width: 25%;
        max-width: 40%;
    }

    header {
        text-align: center;
        background-color: var(--secondary-color);
    }

    .form {
        float: unset;
    }

    .search {
        background-color: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 50px;
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: #fff;
        margin-right: auto;
        width: 100%;
        transition: width 200ms;
    }

    .search:hover {
        width: 100%;
    }

    #sidebar {
        float: unset;
        max-width: unset;
        padding: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.26);
        border-radius: 0px;
        overflow: hidden;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0px;
        margin-right: 0px;
        position: unset;
        top: unset;
    }



}