@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --color-1: #121212;
    --color-2: rgb(26, 26, 26);
    --color-3: #B8B8B8;
    --color-4: rgb(235, 222, 110);
    --color-5: #ffffff;
}

* {
    /* user-select: none; */
    caret-color: var(--color-5);
    scroll-behavior: smooth;
}

::selection {
    color: #62dfe8;
    background-color: rgba(0, 0, 0, 0.02);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-4);
    border-radius: 13px;
    border: 7px solid var(--color-1);
}

body {
    background-color: var(--color-1);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    background-color: var(--color-1);
}

.search {
    background-color: transparent;
    border: 2px solid var(--color-5);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-right: auto;
    width: 200px;
    transition: width 200ms;
}

.search::placeholder {
    color: #dcdde6;
}

.search:focus {
    outline: none;
    background-color: var(--color-4);
    border-color: transparent;
    width: 400px;

}

.search:focus::placeholder {
    color: var(--color-1);
}

.search:hover {
    width: 400px;
}

.h1 {
    display: inline-block;
    color: rgb(31, 94, 150);
    margin: 0;
    background: linear-gradient(271deg, #a0c9ff 30%, #62dfe8 50%, #9adf85 70%, #d8a562 94%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1 a:hover {
    cursor: pointer;
}

.form {
    float: right;
}

.navbar {
    padding: 1rem;
    display: flex;
    background-color: #646bcc;
    color: #fff;
}

.title {
    margin: auto;
    /* width: 100%; */
    transition-duration: 200ms;
    color: var(--color-4);
    opacity: 0.6;
    border: 1px;
}

.title:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.03);
}

.miniNavbar {
    width: 50%;
    max-width: 250px;

    text-align: center;
    margin: auto;
}

.miniNavbar .focus {
    transform: scale(1.2);
    opacity: 1;

}

.miniNavbar button {
    outline: none;
    display: block;
    background-color: transparent;
    padding: 0.3em;
    margin: auto;
    margin-top: 1em;
    font-size: 1.25em;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contentCard {
    font-size: 1em;
    min-width: 10%;
    max-width: 15%;
    margin: 1rem;
    background-color: var(--color-2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition-duration: 200ms;
    font-size: small;
}

.contentCard:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.contentCard img {
    width: 100%;
}

.contentCard .movie-info {
    color: #eee;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.contentCard .movie-info h3 {
    margin-top: 0;
    font-size: 1em;
}

.contentCard .movie-info span {
    background-color: rgba(255, 255, 255, 0.09);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.contentCard .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    color: inherit;

}

span.green {
    color: lightgreen;
}

span.orange {
    color: orange;
}

span.red {
    color: red;
}

#sidebar {
    float: right;
    max-width: 25%;
    padding: 1rem;
    background-color: var(--color-2);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: -238px;
}

.sidebar .sidebar-close-icon {
    position: absolute;
    /* top: 20px; */
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 0.7rem;
    border-radius: 30%;
    z-index: 10;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.sidebar .sidebar-close-icon:hover {
    cursor: pointer;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.sidebar img {
    width: 100%;
}

.sidebar .sidebar-tagline {
    font-style: oblique;
    background-color: rgba(255, 255, 255, 0.123);
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sidebar .sidebar-info {
    background-color: #F6F6DF;
    padding: 1rem;
    max-height: 100%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.sidebar .sidebar-movie-info {
    color: #F6F6DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.sidebar .sidebar-movie-info h3 {
    margin-top: 0;
}

.sidebar .sidebar-movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar .sidebar-movie-info a {
    color: white;
    text-decoration: none;
}

.sidebar .sidebar-movie-info a:hover {
    color: rgb(207, 207, 207);
}

.sidebar h2,
h3,
h4,
h5 {
    margin: 0.2rem;
}

.sidebar a {
    text-decoration: none;
    color: rgb(39, 163, 221);
}

.sidebar a:hover {
    text-decoration: underline;
}

.fullscreenSidebar {
    max-width: 90%;
    background-color: rgba(120, 102, 222, 0.8);
    margin: 1em auto;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.fullscreenSidebar h3 {
    width: 100%;
    color: whitesmoke;
    padding: 1em 1em 2em 2em;
    font-size: 2em;
    text-align: center;
}

.fullscreenSidebar .tagline span {
    font-style: oblique;
    text-align: center;
}

.fullscreenSidebar .sidebar-image {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.fullscreenSidebar .sidebar-content {
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
}

.fullscreenSidebar img {
    max-width: 90%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fullscreenSidebar .sidebar-info {
    background-color: #F6F6DF;
    padding: 1rem;
    max-height: 100%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

/* LOADER STARTS*/

.lds-facebook {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 25%;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgba(130, 223, 118, 0.692);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* LOADER ENDS */
@media screen and (min-width: 1000px) {
    .contentCard {
        min-width: 150px;
        max-width: 10%;
        font-size: 0.85em;
        max-height: 25vw;
    }

}

@media screen and (min-width: 1800px) {
    .contentCard {
        min-width: 180px;
        max-width: 10%;
    }
}

@media screen and (max-width: 1000px) {
    .contentCard {
        min-width: 150px;
        max-width: 20%;
    }

    #sidebar {
        max-width: 40%;
    }
}

@media screen and (max-width: 622px) {
    .contentCard {
        min-width: 150px;
        max-width: 20%;
        border-radius: 10% 10% 3% 3%;
    }

    header {
        text-align: center;
        background-color: var(--secondary-color);
    }

    .form {
        float: unset;
    }

    .search {
        background-color: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 50px;
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: #fff;
        margin-right: auto;
        width: 100%;
        transition: width 200ms;
        box-sizing: border-box;
        margin: 1em auto;
    }

    .search:hover {
        width: 100%;
    }

    #sidebar {
        float: unset;
        max-width: unset;
        padding: 1rem;
        background-color: var(--secondary-color);
        box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.26);
        border-radius: 0px;
        overflow: hidden;
        margin: 1em;
        position: unset;
        top: unset;
        /* text-align: center; */
    }

    #sidebar img {
        max-width: 70%;
        margin: 1em 14%;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 5%;
    }



}
